---
import Layout from "../../layouts/Layout.astro";
import { Content } from "./_story.md";
---

<Layout title="Welcome to Astro.">
  <main
    class="text-black dark:text-white max-w-[60ch] mx-auto p-10 border border-white/10 border-dashed tracking-tight m-10 rounded-md [&>*>h2]:text-2xl"
  >
    <Content />
  </main>
  <style is:inline>
    h2 {
      color: white;
      font-weight: 600;
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
      border: 1px dashed rgb(92, 92, 92);
      padding: 0.5rem;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      border-radius: 0.25rem;
      background-color: rgb(92, 92, 92);
    }
    p {
      font-size: 1rem;
      line-height: 1.75rem;
      color: #c9c9c9;
    }
  </style>
</Layout>
