---
import Layout from "../layouts/Layout.astro";
import NumberTicker from "../components/magicui/number-ticker";
import { AnimatedBeamDemo } from "../components/unidirectional-beam";
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="flex h-screen flex-col gap-y-10 items-center justify-center">
      <h2
        class="text-4xl font-bold text-neutral-900 dark:text-neutral-100 max-w-2xl text-center text-balance"
      >
        Astro + Framer Motion + Tailwind CSS + Magic UI
      </h2>
      <a
        href="/blog"
        class="text-neutral-100 dark:text-neutral-900 bg-neutral-900 dark:bg-neutral-200 px-4 py-2 rounded-md font-semibold"
      >
        Check out Astro Blog
      </a>
      <NumberTicker value={100} client:visible />
      <AnimatedBeamDemo client:load />
    </div>
  </main>
</Layout>
