---
import Layout from "../layouts/Layout.astro";
import NumberTicker from "../components/magicui/number-ticker";
import AnimatedBeamDemo from "../components/unidirectional-beam";
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="flex h-screen flex-col gap-y-10 items-center justify-center">
      <NumberTicker value={100} client:visible />
      <AnimatedBeamDemo client:load />
    </div>
  </main>
</Layout>
