---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <link rel="stylesheet" href="/src/global.css" />
  </head>

  <body
    class="bg-neutral-100 dark:bg-neutral-900"
    style="font-family: InterVariable, sans-serif;
    font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv011', 'salt';"
  >
    <slot />
  </body>
</html>
